@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Oswald&family=Roboto&family=Ubuntu&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

#center{
    display: flex;
    justify-content: center;
    width: 100%;
}

.cntTitle{
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.softDiv{
    height: 30px;
    width: 100%;
    background-color: #FFFFFF;
}

.softDivGray{
    height: 40px;
    width: 100%;
    background-color: #F8F8F8;
}

/*  */
/* Nav */
/*  */

nav{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    background-color: #8767FA;
    padding: 18px;
    align-items: center;
    box-shadow: 0px 3px 15px 0px #5345A1;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    text-decoration: white;
    transition: 0.2s all ease;
}

nav ul a li{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    color:white;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

nav p{
    font-family: 'Montserrat',sans-serif;
    font-size: 30px;
    font-weight: bold;
    cursor: default;
    color: white;
}

nav button{
    border: white solid 1px;
    border-radius: 20px;
    background-color: transparent;
    padding: 12px 36px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    transition: all ease 0.3s;
}

nav ul a:hover{
    transform: scale(1.09);
    padding-right: 1px;
    padding-left: 1px;
}

nav button:hover{
    transform: scale(1.1);
}

/*  */
/* imgContainer */
/*  */

body{
    background-color: #6F5DD8;
}

.imgcabelino{
    padding: 10px;
    border: solid white;
    width: fit-content;
    height: fit-content;
    border-radius: 500px;
}

.cabelino{
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 500px;
    clip-path: circle();
}

.cabelino img{
    height: 100%;
}

.bodyContainer{
    display: flex;
    margin-top: 75px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    
}

.textContainer{
    /* margin-left: 40px; */
    display: flex;
    flex-flow: column;
    
}
.textContainer .title{
    font-family: 'Oswald', sans-serif;
    color: white;
    line-height: 1em;
    font-size: 55px;
}

.textContainer .subtitle{
    font-family: 'Montserrat',sans-serif;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #141414;
}

.subtitle span{
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    color: #141414;
    transition: all ease .5s;
    text-decoration: underline 2px rgba(255, 255, 255, 0);
    text-underline-offset: 5px;
}

.subtitle:hover span{
    text-decoration-color: rgba(255, 255, 255, 1);
}

/*  */
/* expContainer */
/*  */

.expContainer{
    margin-top: 75px;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    background-color: #FFFFFF;
}

.expGrid{
    display: grid;
    grid: 
    "exp1 exp2" 270px
    "exp3 exp4" 270px
    / 1fr 1fr;
    gap: 30px;
}

.expGrid div{
    border: solid 1px #F5F5F5;
    border-radius: 5px;
    padding: 20px;
}

.exp1{
    grid-area: exp1;
    transition: all 0.2s ease;
}

.exp1:hover{
    box-shadow: 7px 7px 15px 0px #EDEDED;
}

.exp2{
    grid-area: exp2;
    transition: all 0.2s ease;
}

.exp2:hover{
    box-shadow: -7px 7px 15px 0px #EDEDED;
}

.exp3{
    grid-area: exp3;
    transition: all 0.2s ease;      
}

.exp3:hover{
    box-shadow: 7px -7px 15px 0px #EDEDED;
}

.exp4{
    grid-area: exp4;
    transition: all 0.2s ease;
}

.exp4:hover{
    box-shadow: -7px -7px 15px 0px #EDEDED;
}

.expTitle{
    font-weight: bold;
    font-family: 'Montserrat',sans-serif;
    font-size: 23px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.expGrid div p{
    padding-bottom: 10px;
}

.expGrid div a{
    font-weight: 570;
    text-decoration:underline;
    text-decoration-thickness: 2.7px;
    text-underline-offset: 10px;
    color: #8767FA;
    transition: all ease .5s;
}

.expGrid div a:hover{
    letter-spacing: .5px;
}

/*  */
/* workContainer */
/*  */

.workContainer{
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    background-color: #FFFFFF;
}

.workGrid{
    display: grid;
    grid: 
    "wrk1 wrk2" 350px
    "wrk3 wrk4" 350px
    / 1fr 1fr;
    gap: 30px;
}

.workGrid div{
/*     border: 1px solid grey; */
    border-radius: 15px;
    padding: 20px;
    color: white;
}

.workGrid div p{
    visibility: hidden;
}

.wrk1{
    grid-area: wrk1;
    background-size: cover;
    background-image: url(https://preview.colorlib.com/theme/calvin/assets/img/gallery/xgallery1.png.pagespeed.ic.Up3oFhc0AB.webp);
    background-position: center; 
    transition: filter ease .4s, visibility ease 1s;
    font-family: 'Montserrat',sans-serif;;
    font-size: 25px;
}

.wrk1:hover{
    filter: brightness(65%);
}

.wrk1:hover p{
    visibility: visible;
}

.wrk2{
    grid-area: wrk2;
    background-size: cover;
    background-image: url(https://preview.colorlib.com/theme/calvin/assets/img/gallery/xgallery2.png.pagespeed.ic.fszgEo6dsc.webp);
    background-position: center;
    transition: filter ease .4s, visibility ease 1s;
    font-family: 'Montserrat',sans-serif;;
    font-size: 25px;
}

.wrk2:hover{
    filter: brightness(65%);
}

.wrk2:hover p{
    visibility: visible;
}

.wrk3{
    grid-area: wrk3;
    background-size: cover;
    background-position: center;
    background-image: url(https://preview.colorlib.com/theme/calvin/assets/img/gallery/xgallery3.png.pagespeed.ic.qnoV8U_8Hx.webp);
    transition: filter ease .4s, visibility ease 1s;
    font-family: 'Montserrat',sans-serif;;
    font-size: 25px;
}

.wrk3:hover{
    filter: brightness(65%); 
}

.wrk3:hover p{
    visibility: visible;
}

.wrk4{
    grid-area: wrk4;
    background-size: cover;
    background-position: center;
    background-image: url(https://preview.colorlib.com/theme/calvin/assets/img/gallery/xgallery4.png.pagespeed.ic.3BAHAxRLqd.webp);
    transition: filter ease .4s, visibility ease 1s;
    font-family: 'Montserrat',sans-serif;;
    font-size: 25px;
}

.wrk4:hover{
    filter: brightness(65%);
}

.wrk4:hover p{
    visibility: visible;
}

/*  */
/* aboutContainer */
/*  */

.aboutContainer{
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    background-color: #F8F8F8;
}

.aboutGrid{
    display: grid;
    grid: 
    "subText UID" 27px
    "subText UXD" 27px
    "bottomText Ill" 27px
    / 1fr 1fr;
    gap: 27px;
}

.aboutSubText{
    grid-area: subText;
    
}

.aboutUID{
    grid-area: UID;
    text-decoration: #8767FA underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}

.aboutUXD{
    grid-area: UXD;
    text-decoration: #8767FA underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}

.aboutIll{
    grid-area: Ill;
    text-decoration: #8767FA underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}

.aboutBottomText{
    grid-area: bottomText;
    color: #8767FA;
    font-size: 30px;
    font-weight: bold;
}

.aboutSoftwares{
    background-color: #F8F8F8;
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutSoftwares div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    width: 190px;
    height: 190px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 15px 0px lightgray;
    transition: transform ease .5s;
}

.aboutSoftwares div:hover{
    transform: scale(1.05);
}

/*  */
/* clientContainer */
/*  */

.clientContainer{
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.clientText{
    border: solid 2px #F4F0EE;
    text-align: center;
    padding: 50px 3% 0px 3%;
    border-radius: 10px;
    width: 50%;
    background-color: #FFFBF9;
}

.clientPicture{
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    text-align: start;
    display: grid;
    grid: 
    "cPic cName cName"
    "cPic cPlace cPlace"
    / 70px 70px;
}

.clientPicture a{
    text-decoration: none;
    font-family: 'Montserrat',sans-serif;
    color: black;
    font-size: 14px;
    text-decoration: underline 2px rgba(135, 103, 250, 0);
    transition: text-decoration-color ease .5s;
    text-underline-offset: 1px;
}

.clientPicture a:hover{
    text-decoration-color: rgba(135, 103, 250, 1);
}

.clientPicture img{
    border: solid 2px white;
    border-radius: 500px;
    clip-path: circle();
    height: 50px;
    width: 50px;
}

.carequinoPic{
    grid-area: cPic;
}

.carequinoName{
    grid-area: cName;
    color: #8767FA;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.carequinoPlace{
    font-family: 'Montserrat',sans-serif;
    grid-area: cPlace;
    font-size: 14px;
}

/*  */
/* newsContainer */
/*  */

.newsContainer{
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    background-color: #F8F8F8;
}

.newsGrid{
    display: grid;
    grid: 
    "new1 new2" 350px
    / 1fr 1fr;
    gap: 30px;
}

.newsGrid div{
    border-radius: 10px;
    transition: transform ease .5s;
    box-shadow: 0px 10px 15px 0px lightgray;
}

.newsGrid div:hover{
    transform: scale(1.03);
}

.newsGrid div p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(2, 8, 43.5);
    padding: 5px 3% 5px 3%;
    font-weight: bold;
    text-shadow: 2px 0 0 #231F20, -2px 0 0 #231F20, 0 2px 0 #231F20, 0 -2px 0 #231F20, 1px 1px #231F20, -1px -1px 0 #231F20, 1px -1px 0 #231F20, -1px 1px 0 #231F20;
}

.newsGrid div p button{
    background: none;
    border: 2px solid white;

    cursor: pointer;
    color: white;
    padding: 5px;
    margin-left: 20px;
    border-radius: 15px;
}

.new1{
    grid-area: new1;
    background-size: cover;
    background-position: center;
    background-image: url(https://preview.colorlib.com/theme/calvin/assets/img/gallery/xhome-blog1.png.pagespeed.ic.I2U4ILIwPP.webp);

}

.new2{
    grid-area: new2;
    background-size: cover;
    background-position: center;
    background-image: url(https://preview.colorlib.com/theme/calvin/assets/img/gallery/xhome-blog2.png.pagespeed.ic.Spsxmf_jSP.webp);
}

footer{
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    color: white;
    background-color: #231F20;
}

.footerLogo{
    padding-top: 65px;
    padding-bottom: 20px;
    width: 100%;
    font-family: 'Montserrat',sans-serif;
    font-size: 30px;
    font-weight: bold;
    cursor: default;
    color: #8767FA;
    grid-area: fLogo;
}

.footerSubTitle{
    font-size: 16px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    grid-area: fSubTitle;
    padding-bottom: 30px;
}

.footerSocial{
    display: flex;
}

.footerSocial div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-color: rgba(135, 103, 250, .3);
    transition: transform ease .5s;
}

.footerSocial div:hover{
    transform: scale(1.15);
}

.footerSocial i{
    color: #8767FA;
}

.footerSocial a{
    text-decoration: none;
}

.footerCopyright{
    display: flex;
    margin-top: 75px;
    padding-bottom: 10px;
    width: 100%;
    justify-content: center;
}

.footerCopyright p{
    font-family: 'Montserrat',sans-serif;
}